<section class="padding-medium about">
		<div class="container">
			<div class="row">
				<div class="col-md-9" id="manifest">
				<h3>A propos</h3>
				<h4 class = "abouttitle">Bouquin Voisin, le manifeste</h4>
				<p> <strong>Bouquin Voisin est une plateforme de recommandation et de prêt de livres entre voisins.</strong><br><br><em>Nous avons créé Bouquin Voisin pour tous ceux qui veulent partager leur amour de la lecture. Pour tous ceux qui veulent découvrir des livres passionnants. Pour tous ceux qui pensent qu'un livre, c'est fait pour être partagé et passé de mains en mains. Pour tous ceux qui aimeraient rencontrer des voisins autour d'un intérêt commun.</em> <br><br> Avec Bouquin Voisin, notre ambition est de permettre à chacun (passionné de lecture, amateur, curieux, lecteur du dimanche, etc.) de rejoindre un <strong>"club de lecture"</strong> composé de ses voisins. Nous souhaitons faciliter la création de <strong>communautés locales d'amoureux et de curieux de la lecture</strong>. <br><br>Les livres et le partage de coups de coeur lecture comme vecteur de lien social, voilà notre credo !</p>
                
                
                <h4  class = "abouttitle"> Bouquin Voisin, dans ton quartier</h4>
                <p>Chez Bouquin Voisin, nous tenons fort à tous les acteurs qui partagent déja l'amour des livres au niveau local : les libraires, les bibliothèques, les tiers-lieux culturels, etc. Bouquin Voisin a aussi pour vocation d'être une plaforme où ces acteurs locaux pourront s'exprimer et renforcer leurs lien avec les communautés locales.
                </p>

                <h4  class = "abouttitle"> Contacte-nous</h4>
                <p>Envoie-nous tes mots doux à <a href="mailto:hello@bouquinvoisin.com" target="_top">hello@bouquinvoisin.com</a>
                </p>

                
			</div><!--/ row -->
		</div><!--/ container -->
	</section>