	<section class="home">
		<div class="home-slider home-slider-half-page">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide" id = "bg1">
	            	<div class = "col-md-offset-3 col-md-6 col-xs-12 text-center">
		           		<h1 class="light wow fadeInDown mb-30 ">Découvre les bouquins préférés de tes voisins</h1>
		            	<%= link_to reviews_path, :class => "btn btn-primary wow fadeInUp" do %>
		            	Découvrir <span class="ti-arrow-right light"></span>
		            	<% end %>
	               </div>
	            	
	            </div>

	        </div>

	</section>

		

	<section class="text-center padding">
		<div class="about-counter" id="about-counter">
			
			<div class="container">
				<div class="row">
					<div class="col-md-offset-3 col-md-6 col-xs-12 text-center">
						<h2 class ="homesubtitle">Bouquin Voisin, qu'est-ce que c'est ?</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.4s" data-wow-duration="1s" data-wow-offset="0">
						<div class="counter"> <span class="ti-heart icon"></span>
							<h3 class="timer">Partager</h3>
							<p> Recommande à tes voisins tes 3 livres préférés. Ceux que tu voudrais que le monde entier puisse découvrir. </p>
						</div>
					</div>

					<div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.2s" data-wow-duration="1s" data-wow-offset="0">
						<div class="counter"> <span class="ti-eye icon"></span>
							<h3 class="timer">Découvrir</h3>
							<p> Tes voisins sont de bons conseils. Découvre leurs 3 livres préférés et ne sois jamais à court d'idées lecture. </p>
						</div>
					</div>
				

				
					<div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.3s" data-wow-duration="1s" data-wow-offset="0">
						<div class="counter"> <span class="ti-thumb-up icon"></span>
							<h3 class="timer">Emprunter</h3>
							<p class = "pull-right"> Un livre t'intéresse ? Contacte ton voisin et demande-lui de te le prêter.</p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.4s" data-wow-duration="1s" data-wow-offset="0">
						<div class="counter"> <span class="ti-face-smile icon"></span>
							<h3 class="timer">Rencontrer</h3>
							<p> La lecture, ça rapproche ? Rencontre et échange avec tes voisins à propos de vos livres préférés. </p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>

