.form-control {
    border: none;
    box-shadow: none;
    background: none;
    border-bottom: 2px solid $body-bg;
    height: 36px;

    &:focus {
        box-shadow: none;
        outline: 0 none;
    }
}
legend {
    border: none;
    position: relative;
    font-family: $main-font-secondary;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: inherit;
    margin-bottom: 21px;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;

    &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        width: 30px;
        left: 0;
        height: 4px;
        background: $main-theme-color;
    }
} 