.mega {
    position: static !important;

    @include smartphone {
        width: 100%;
    }
    &-menu {
        padding: 20px 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
        li a {
            padding: $padding-base / 3 $padding-base!important;
        }
    }
    &-menu > li > ul {
        padding: 0;
        margin: 0;
    }
    &-menu > li > ul > li {
        list-style: none;
    }
    &-menu > li > ul > li > a {
        display: block;
        padding: 3px 20px;
        clear:x both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #999;
        white-space: normal;
    }
    &-menu > li ul > li > a:hover, &-menu > li ul > li > a:focus {
        text-decoration: none;
        color: #444;
        background-color: #f5f5f5;
    }
    &-menu .dropdown-header {
        color: $main-theme-color;
        font-family: $main-font;
        font-weight: 700;
        padding-left: $padding-base;
    }
    &-menu.dropdown-menu {
        border: medium none;
        box-shadow: 0 20px 35px -11px rgba(0, 0, 0, 0.15);
    }
}