<% if review.likes.count == 1 && current_user.likes?(review) %> 
      <span class = "ti-heart likeindexactive"></span><span><%= review.likes.count %> like</span>
   <% elsif review.likes.count == 1 && !current_user.likes?(review)%> 
      <span class = "ti-heart likeindex"></span><span><%= review.likes.count %> like</span>

   <% elsif review.likes.count > 1 && current_user.likes?(review) %> 
      <span class = "ti-heart likeindexactive"></span><span><%= review.likes.count %> likes</span>
   <% elsif review.likes.count > 1 && !current_user.likes?(review) %> 
      <span class = "ti-heart likeindex"></span><span><%= review.likes.count %> likes</span>
      
<%end%>