	<footer class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-xs-12 col-md-12 pull-right">
				        <ul class="footer-social" style="width:auto;">
	                        <li><a href="#"><span class="ti-facebook"></span></a></li>
	                        <li><a href="https://twitter.com/BouquinVoisin"><span class="ti-twitter"></span></a></li>
	                        <li><a href="#"><span class="ti-instagram"></span></a></li>
	                    </ul>
                    </div>

                    
				</div>
			</div>	
		</div>

		<div class="container">
			<div class="row">
				<p class="col-xs-11 col-xs-offset-1 pull-right "> Made with <span class = "ti-heart"></span> by 
					<a href= "https://github.com/leilacha" class="githublink">Leila</a> and <a href= "https://github.com/sebastienrombaut" class="githublink">Seb</a></p>

			</div>
		</div>	
	</footer>